/*Branding*/
.branding{
    background-image: url('/Fotos/1A-1C-Creative/1Branding@300x-100.jpg');
    @extend %background;
    @include flexbox (flex, center);
    position: relative;
    
    &:after{
        @extend %bg-after;
    }
    h2{
        @extend %h2-container;
    }
    button{
        align-self: flex-end;
    }
}

/*Packaging*/
.packaging{
    background-image: url('/Fotos/1A-1C-Creative/2Packaging@300x-100.jpg');
    @extend %background;
    @include flexbox (flex, center);
    position: relative;
    
    &:after{
        @extend %bg-after;
    }
    h2{
        @extend %h2-container;
    }
    button{
        align-self: flex-end;
    }
}
/*More*/
.more{
    background-color: #000000;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    h2{
        @extend %h2-container;
    }
    button{
        align-self: flex-end;
    }
}