.nav-logo{
    position: fixed;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.7rem;
    @include flexbox(flex, flex-start);

    padding: 2.5rem 0 0 2.5rem;
    z-index: 2;
}
.nav-logo a {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 1rem;
  }
.btn-nav{
    transition: all 250ms;
    &:before, &after{
        transition: all 250ms;
    }
    &:hover{
        color: rgb(228, 226, 226);
        -webkit-transform: scale(1.1);
        transform: scale(1.02)
    }
}
